*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(244, 237, 211);
    scrollbar-width: 12px;
    scrollbar-color: rgb(76, 88, 91);
    scroll-behavior: smooth;
    scrollbar-track-color: rgb(244, 237, 211);
    font-family: "Playfair Display", serif;
    overflow-x: hidden;
}

.section1{
    width: 100%;
    height: auto;
}

.slogan{
    width: 100%;
    height: 5vh;
    background-color: rgb(126, 153, 163);
    color:rgb(244, 237, 211) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100%;
    height: 12vh;
    background-color: rgb(76, 88, 91);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(244, 237, 211);
}

.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 150%;
        height: 150%;
    }
}

.menu{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul{
        width: 50%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        padding: 3rem;
        a {
            text-decoration: none;
            color: rgb(244, 237, 211);
            position: relative;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        a::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: rgb(165, 191, 204);
            transition: width 0.3s ease;
            -webkit-transition: width 0.3s ease;
        }

        a:hover::after {
            width: 100%;
            left: 0;
            background: rgb(165, 191, 204);
        }

        a:hover {
            color: rgb(165, 191, 204);
            transform: scale(1.1);
        }
    }
}

.dates{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.pic-central{
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/Foto1.png");
    background-attachment: fixed;
}

.information-me{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 1rem;
    color: rgb(76, 88, 91);
    position: relative;

    h1{
        font-size: 4rem;
    }

    h3{
        font-size: 2rem;
    }

    p{
        display: block;
        width: 25rem;
        height: auto;
        font-size: 1.3rem;
    }
}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: rgb(244, 237, 211);
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: rgb(126, 153, 163);
    border: 1px solid rgb(126, 153, 163);
    font-family: "Playfair Display", serif;
}
    
.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: rgb(244, 237, 211);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: rgb(76, 88, 91);
    border: 2px solid rgb(76, 88, 91);
}

.button2:hover:before {
    top: -35%;
    background-color: rgb(244, 237, 211);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: rgb(244, 237, 211);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.opacity-1{
    width: 40%;
    height: 50vh;
    background-color: rgba(76, 88, 91,0.4);
    position: absolute;
    z-index: -1;
    left: 5rem;
    top: 23rem;
}

.opacity-2{
    width: 10rem;
    height: 10rem;
    background-color: rgba(76, 88, 91,0.4);
    position: absolute;
    bottom: 6em;
    left: 20rem;
}

.section2{
    width: 100%;
    height: 125vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
}

.advertisement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: 3rem;
    color: rgb(76, 88, 91);
}

.advertisement h2 {
    position: relative;
    color: rgb(76, 88, 91);
}

.advertisement h2::before {
    content: '';
    position: absolute;
    left: -0.5rem; 
    top: 0;
    width: 3px; 
    height: 3rem; 
    background-color: rgb(126, 153, 163);
}

.advertisement h2::after {
    content: '';
    position: absolute;
    left: -1.5em; 
    top: 1.4em; 
    width: 15em; 
    height: 2px; 
    background-color: rgb(126, 153, 163);
}

.about-me{
    width: 50%;
    height: 100%;
    position: relative;
}

.texts{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    gap: 1rem;
}

.parallax{
    width: 50%;
    height: 50%;
    border-radius: .3rem;
    border: thick solid rgb(76, 88, 91);
    background-attachment: fixed;
    background-size: cover;
}

.img-deep{
    position: absolute;
    top: .1rem;
    right: 10rem;
    transform: rotate(-20deg);
}


.description{
    display: block;
    width: 22rem;
    color: rgb(76, 88, 91);
}

.opacity-3{
    width: 22rem;
    height: 7rem;
    z-index: -1;
    background-color: rgba(76, 88, 91,0.4);
    position: absolute;
    top: 15rem;
    left: 5rem;
    border-radius: .3rem;
}

#a2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
}

.inside-services{
    width: 85%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.box-services{
    width: 28vw;
    height: 29.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(76, 88, 91);
    font-size: 1.2rem;

    p{
        display: block;
        width: 14rem;
    }

    i{
        font-size: 2rem;
    }
}
.box-services[data-id="1"] {
    border-bottom: 2px solid rgb(126, 153, 163);
    border-right:  2px solid rgb(126, 153, 163);
}

.box-services[data-id="2"] {
    border-bottom: 2px solid rgb(126, 153, 163);
    border-right:  2px solid rgb(126, 153, 163);
}

.box-services[data-id="3"] {
    border-right:  2px solid rgb(126, 153, 163);
}

.box-services[data-id="4"] {
    border-bottom: 2px solid rgb(126, 153, 163);
}

.box-services[data-id="5"] {
    border-bottom: 2px solid rgb(126, 153, 163);
}


.box-services[data-id="7"] {
    border-bottom: 2px solid rgb(126, 153, 163);
    border-left:  2px solid rgb(126, 153, 163);
}

.box-services[data-id="8"] {
    border-bottom: 2px solid rgb(126, 153, 163);
    border-left:  2px solid rgb(126, 153, 163);
}

.box-services[data-id="9"] {
    border-left:  2px solid rgb(126, 153, 163);
}
.footer {
    background-color: rgb(76, 88, 91);
    color: rgb(244, 237, 211);
    padding-left: 10rem;
    text-align: center;
}

.footer-logo{
    width: 25%;
    height: 40vh;

    img{
        width: 100%;
        height: 100%;
    }
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.footer-section {
    flex: 1;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.footer-icons{
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-section p {
    font-size: 1rem;
    line-height: 1.5;
}

.footer-section .socials {
    margin-top: 1rem;
    width: 12rem;
    display: flex;
    justify-content: space-between;
}

.footer-section .socials a {
    margin: 0 0.5rem;
    color: rgb(244, 237, 211);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-section .socials a:hover {
    color: rgb(165, 191, 204);
}

.footer-bottom {
    font-size: 0.9rem;
    padding: 2rem;
    margin-right: 10rem;
}
